@import "/src//style/colors";

.rtd-dot {
	&-decorator {
		border-radius: 50%;

		&-size {
			&-sm {
				width: 5px;
				height: 5px;
			}
			&-md {
				width: 8px;
				height: 8px;
			}
			&-lg {
				width: 12px;
				height: 12px;
			}
		}

		&-color {
			&-default {
				background-color: $default;
			}
			&-info {
				background-color: $info;
			}
			&-error {
				background-color: $error;
			}
			&-success {
				background-color: $success;
			}
			&-warning {
				background-color: $warning;
			}
		}
	}
}
