@import "/src//style/colors";

// TODO Can I unify the colors in just one classname?
// I'm using the same classname for both components
// It could be something like rtd-color-*

.rtd-stripe-decorator {
	&-1 {
		top: 22px;
		left: -11px;
		position: relative;
		background-color: black;
	}
	&-2 {
		transform: rotate(45deg);
		top: 16px;
		left: -8px;
		position: relative;
		background-color: black;
	}
	&-3 {
		transform: rotate(90deg);
		top: 12px;
		left: -3px;
		position: relative;
		background-color: black;
	}

	&-size {
		&-sm {
			width: 7px;
			height: 0.8px;
		}
		&-md {
			width: 10px;
			height: 1px;
		}
		&-lg {
			width: 14px;
			height: 1.4px;
		}
	}

	&-color {
		&-default {
			background-color: $default;
		}
		&-info {
			background-color: $info;
		}
		&-error {
			background-color: $error;
		}
		&-success {
			background-color: $success;
		}
		&-warning {
			background-color: $warning;
		}
	}
}
